-- Create cms_customers table with proper structure and constraints

CREATE TABLE IF NOT EXISTS cms_customers (
  guid text PRIMARY KEY,
  username text,
  full_name text,
  email text,
  phone_number text,
  city text,
  country text,
  status text,
  is_active character varying,
  is_email_verified boolean DEFAULT false,
  is_phone_number_verified boolean DEFAULT false,
  referal_code text,
  created_at timestamp with time zone,
  updated_at timestamp with time zone,
  gender text,
  birth_date date,
  identity_number text,
  identity_img text,
  country_id integer,
  city_id integer,
  is_identity_verified boolean DEFAULT false,
  bank_name text,
  bank_account_number text,
  bank_owner_name text,
  corporate_name text,
  industry_name text,
  employee_qty integer,
  solution_corporate_needs text,
  is_free_trial_use boolean DEFAULT false,
  created_by_guid text,
  created_by_name text,
  updated_by_guid text,
  updated_by_name text,
  subscribe_list jsonb
);
